@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Work+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'Hubot Sans';
    src:
      url('../public/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('../public/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


html, body, #__next {
    height: 100%;
    background: linear-gradient(90deg, #fff calc(100% - 1px), #fdcece 0);
    background-size: calc((100% - 11*11px)/12 + 11px) 100%;
}

.hubot-sans {
    font-family: 'Hubot Sans', sans-serif;
    font-weight: 900;
    font-stretch: 125%;
}
